[submodule "Source/SoyLib"]
	path = Source/SoyLib
	url = https://github.com/SoylentGraham/SoyLib.git
[submodule "Source/Broadway"]
	path = Source/Broadway
	url = https://github.com/mbebenita/Broadway.git
[submodule "Unity/PopH264/Assets/PopCodecs"]
	path = Unity/PopH264/Assets/PopCodecs
	url = https://github.com/NewChromantics/PopCodecs.git
[submodule "Source/Json11"]
	path = Source/Json11
	url = https://github.com/dropbox/json11.git
