[submodule "Source/SoyLib"]
	path = Source/SoyLib
	url = https://github.com/SoylentGraham/SoyLib.git
[submodule "Source/Broadway"]
	path = Source/Broadway
	url = https://github.com/mbebenita/Broadway.git
[submodule "Unity/PopH264/Assets/PopCodecs"]
	path = Unity/PopH264/Assets/PopCodecs
	url = https://github.com/NewChromantics/PopCodecs.git
[submodule "Source/Json11"]
	path = Source/Json11
	url = https://github.com/dropbox/json11.git
[submodule "Unity/PopH264/Assets/PopYuv"]
	path = Unity/PopH264/Assets/PopYuv
	url = https://github.com/NewChromantics/PopUnityYuvShader.git
[submodule "Source/MagicEnum"]
	path = Source/MagicEnum
	url = https://github.com/Neargye/magic_enum.git
[submodule "Unity/PopH264/Assets/PopUnityWebsocket"]
	path = Unity/PopH264/Assets/PopUnityWebsocket
	url = https://github.com/NewChromantics/PopUnityWebsocket.git
