[submodule "Source/SoyLib"]
	path = Source/SoyLib
	url = https://github.com/NewChromantics/SoyLib.git
[submodule "Source/Broadway"]
	path = Source/Broadway
	url = https://github.com/SoylentGraham/Broadway.git
[submodule "Source/Json11"]
	path = Source/Json11
	url = https://github.com/dropbox/json11.git
[submodule "TestData"]
	path = TestData
	url = https://github.com/NewChromantics/PopH264TestData.git
[submodule "Source_TestApp/googletest"]
	path = Source_TestApp/googletest
	url = https://github.com/google/googletest.git
