# unity temp files
Unity/**/Library/
Unity/**/obj/
Unity/**/Temp/
Unity/**/*.sln
Unity/**/*.csproj
xcuserdata/
Unity/**/holobuild/
Unity/**/UWP/
Unity/**/holobuild/
**/.vs/
**/*.db
**/*.opendb
**/*.unitypackage

# build/project temp files
*.visualstudio/x64/
*.Android/libs/armeabi-v7a/
*.Android/libs/**/*.so
*.Lumin/release_ml1/
*.Android/obj/
Pop*.Uwp/Release/
Build/
Unity/PopH264/Logs/
build-iphoneos/
build-iphonesimulator/

# built binaries, this list should be a reference to where binaries go
Unity/PopH264/Assets/PopH264/PopH264.dll
Unity/PopH264/Assets/PopH264/PopH264.pdb
Unity/PopH264/Assets/PopH264/PopH264.Uwp.dll
Unity/PopH264/Assets/PopH264/PopH264.bundle
Unity/PopH264/Assets/PopH264/PopH264\.bundle/
Unity/PopH264/Assets/PopH264/PopH264_Osx.framework/
Unity/PopH264/Assets/PopH264/Lumin/libPopH264.so
Unity/PopH264/Assets/PopH264/Android/**/*.so
Unity/PopH264/Assets/PopH264/PopH264.exp
Unity/PopH264/Assets/PopH264/PopH264.h
Unity/PopH264/Assets/PopH264/PopH264.lib
Unity/PopH264/Assets/PopH264/PopH264_TestApp.*
Unity/PopH264/Assets/PopH264/x264.dll


# visual studio temporary files
PopH264.visualstudio/PopH264_TestApp/x64/
*.user
PopH264.visualstudio/PopH264_TestApp_x64_Debug/
PopH264.visualstudio/PopH264_x64_Debug/

# vscode files
.vscode
.devcontainer


# linux build temp files
*.o
