//	config for OSX bundle apps
//#include "PopApp.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_OSX
INFOPLIST_FILE = $(SRCROOT)/Info.plist

//	enable broadway debug
//	H264DEC_TRACE
//	_ERROR_PRINT
//GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) H264DEC_TRACE _ERROR_PRINT _DEBUG_PRINT


BROADWAY_PATH = $(SRCROOT)/Source/Broadway/Decoder

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(BROADWAY_PATH)/inc $(MAGIC_LEAP_SDK_PATH)/include
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(MAGIC_LEAP_SDK_PATH)/lib/osx

OTHER_CFLAGS = -Wno-ambiguous-macro

CLANG_CXX_LANGUAGE_STANDARD = c++17

