#include "../Source_Osx/PopH264_Apple.xcconfig"



GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(TARGET_MACRO) $(TARGET_ARCH)
INFOPLIST_FILE = $(SRCROOT)/Info.plist

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(BROADWAY_PATH)/inc $(MAGICENUM_PATH)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited)

