#include "../Source_Osx/PopH264_Apple.xcconfig"


SDKROOT = appletvos
IPHONEOS_DEPLOYMENT_TARGET = 13.0


//	gr: move to soy xcconfig
TARGET_ARCH[arch=i386] = TARGET_ARCH_INTEL
TARGET_ARCH[arch=arm64e] = TARGET_ARCH_ARM64E
TARGET_ARCH[arch=x86_64] = TARGET_ARCH_INTEL64
TARGET_ARCH[arch=arm64] = TARGET_ARCH_ARM64



GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_IOS $(TARGET_ARCH)
INFOPLIST_FILE = $(SRCROOT)/Info.plist

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(MAGICENUM_PATH)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited)

