//	config for OSX bundle apps
//#include "PopApp.xcconfig"
#include "../Source/Version.xcconfig"


//	gr: move to soy xcconfig
TARGET_ARCH[arch=i386] = TARGET_ARCH_INTEL
TARGET_ARCH[arch=arm64e] = TARGET_ARCH_ARM64E
TARGET_ARCH[arch=x86_64] = TARGET_ARCH_INTEL64
TARGET_ARCH[arch=arm64] = TARGET_ARCH_ARM64


GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_OSX $(TARGET_ARCH)
INFOPLIST_FILE = $(SRCROOT)/Info.plist

//	enable broadway debug
//	H264DEC_TRACE
//	_ERROR_PRINT
//GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) H264DEC_TRACE _ERROR_PRINT _DEBUG_PRINT

NVIDIA_PATH = $(SRCROOT)/Source/nvidia
BROADWAY_PATH = $(SRCROOT)/Source/Broadway/Decoder
LINUX_PATH = $(SRCROOT)/Source/Linux

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(BROADWAY_PATH)/inc $(MAGIC_LEAP_SDK_PATH)/include $(NVIDIA_PATH)/include $(LINUX_PATH)/linux/include $(LINUX_PATH)/ $(LINUX_PATH)/uapi
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(MAGIC_LEAP_SDK_PATH)/lib/osx

OTHER_CFLAGS = -Wno-ambiguous-macro

CLANG_CXX_LANGUAGE_STANDARD = c++17

ENABLE_BITCODE = NO	//	not supported by macos platform
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

MACOSX_DEPLOYMENT_TARGET = 10.13


//	default project settings, but make consistent across framework & bundle
COMBINE_HIDPI_IMAGES = YES
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
DEFINES_MODULE = YES
DEFINES_MODULE = YES
FRAMEWORK_VERSION = A
//PRODUCT_BUNDLE_IDENTIFIER = com.NewChromantics.PopH264Framework
//PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_NAME = PopH264 // can't use _ in .bundles!
PRODUCT_BUNDLE_IDENTIFIER = com.NewChromantics.$(TARGET_NAME:c99extidentifier)


LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Source/X264/osx


//	default clang warnings
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
MTL_FAST_MATH = YES
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
