#include "../Source_Osx/PopH264_Apple.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(TARGET_MACRO) $(TARGET_ARCH)
INFOPLIST_FILE = $(SRCROOT)/Info.plist

//	enable broadway debug
//	H264DEC_TRACE
//	_ERROR_PRINT
//GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) H264DEC_TRACE _ERROR_PRINT _DEBUG_PRINT

NVIDIA_PATH = $(SRCROOT)/Source/nvidia
LINUX_PATH = $(SRCROOT)/Source/Linux

//$(MAGIC_LEAP_SDK_PATH)/include
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(BROADWAY_PATH)/inc $(NVIDIA_PATH)/include $(LINUX_PATH)/linux/include $(LINUX_PATH)/ $(LINUX_PATH)/uapi $(MAGICENUM_PATH)
//$(MAGIC_LEAP_SDK_PATH)/lib/osx
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited)



//	default project settings, but make consistent across framework & bundle
COMBINE_HIDPI_IMAGES = YES
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
DEFINES_MODULE = YES
FRAMEWORK_VERSION = A


LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Source/X264/osx
