<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="87bab3ea-02b8-48c3-9761-06fa5abfe80f"
    Publisher="CN=Graham"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="87bab3ea-02b8-48c3-9761-06fa5abfe80f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PopH264_Uwp_TestApp</DisplayName>
    <PublisherDisplayName>Graham</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PopH264_Uwp_TestApp.App">
      <uap:VisualElements
        DisplayName="PopH264_Uwp_TestApp"
        Description="PopH264_Uwp_TestApp"
        BackgroundColor="cyan" Square150x150Logo="Square150x150Logo.png" Square44x44Logo="Square44x44Logo.png">
        <uap:DefaultTile>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>