VERSION_MAJOR = 1
VERSION_MINOR = 4
VERSION_PATCH = 10

CURRENT_PROJECT_VERSION = $(VERSION_MAJOR).$(VERSION_MINOR).$(VERSION_PATCH)

//	various apple version variables
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
MARKETING_VERSION = $(CURRENT_PROJECT_VERSION)
DYLIB_COMPATIBILITY_VERSION = $(CURRENT_PROJECT_VERSION)

//	pass to macros in c
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS) VERSION_MAJOR=$(VERSION_MAJOR) VERSION_MINOR=$(VERSION_MINOR) VERSION_PATCH=$(VERSION_PATCH)
